{
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "./src/**/*.test.js",
        "./src/setupTests.js"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "complexity": [
      "error",
      6
    ],
    "max-depth": [
      "error",
      3
    ],
    "max-nested-callbacks": [
      "error",
      3
    ],
    "max-statements": [
      "error",
      10
    ],
    "max-lines": [
      "error",
      150
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": [
        "*.test.js",
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
